.card {
    position: relative;
    width: 100%; /* Puedes ajustar el ancho si lo necesitas */
    height: 400px; /* Ajusta esta altura según lo que necesites */
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }


  
  
  .card:hover {
    cursor: pointer;
  }
  
  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1; /* Asegura que el contenedor de la imagen ocupe el espacio disponible */
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen se ajuste al contenedor manteniendo su proporción */
  }
  
  .textOverlay {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5); 
    opacity: 0; /* Ocultar el texto inicialmente */
    transition: opacity 0.3s ease; /* Suavizar la transición */
    opacity: 0; /* Ocultar el texto inicialmente */
    color: #92dbfd;
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease; /* Suavizar la transición y el blur */
    backdrop-filter: blur(0px); /* Inicialmente sin blur */
  }
  
  .card .textOverlay {
    opacity: 1; /* Mostrar el texto al hacer hover */
    backdrop-filter: blur(5px); /* Añadir desenfoque durante el hover */
    opacity: 1; /* Mostrar el texto cuando se haga hover */

  }
  
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  

.title {
  font-size: 2.2rem;
  font-weight: 200;
}